/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: radial-gradient(circle at center,#4B8EC5 0%, #1a2531 70%);
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}
header nav ul{
  display: inline-flex;
  gap: 1.2rem;
  list-style: none;
  padding-top: 2rem;
}

header nav ul li a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1rem;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}

header nav ul li a:hover {
  color: #90d5ff; /* celeste */
  transform: scale(1.05);
}

header img{
 width: 5.5rem;
 height: 5.5rem;
}

main h2{
    color: whitesmoke;
  font-size: 1.2rem;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1.4rem;
  text-align: center;
  text-decoration: underline;
}

main .biografiaindex{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  gap: 0.3rem;
}

main section .presentacion img{
  width: 15rem;
  height: 17rem;
  border-radius: 70%;
  box-shadow: 0px 1px 16px #90d5ff;
  margin-bottom: 2rem;
  align-items: center;
  margin-left: 3rem;
}

main .biografiaindex h1{
  color: whitesmoke;
  font-size: 1.4rem;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1.4rem;
}

main .biografiaindex h1 span{
  color: #90d5ff;
}

main .biografiaindex p{
 color: #d3d3d3;
 font-size: 0.8rem;
 font-family: "Changa One", sans-serif;
 font-weight: 400;
 font-style: normal;
}

main .skills{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: repeat(3,100px);
 column-gap: 4rem;
 row-gap: 0rem;
 margin: 3rem 1rem;
}

main .skills p{
 font-family: "Source Code Pro", monospace;
 font-optical-sizing: auto;
 font-style: normal;
 color: #ccd6f6;
 font-size: 0.8rem;
}

main .skills .skillybarra{
margin: 0.7rem 0rem;
}

footer{
  text-align: center;
  color: whitesmoke;
  font-size: 1.2rem;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1.4rem;
}
footer img{
 width: 4rem;
 height: 4rem;
}
/* ───────────────────────────────────────── */
/* TABLET (ADAPTIVE)                         */
/* ───────────────────────────────────────── */
@media (min-width: 768px){

  header img{
    width: 8rem;
    height: 8rem;
  }
  main .biografiaindex {
    align-items: center;
  }

  main section .presentacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: left;
  }
  main section .presentacion h1{
  font-size: 2rem;
  }

  main section .presentacion img{
    width: 19rem;
    height: 22rem;
    border-radius: 70%;
    box-shadow: 0px 1px 16px #90d5ff;
  }

  main section .descripcion p{
    font-size: 1.5rem;
    text-align: justify;
    max-width: 700px;
  }
  main h2{
    font-size: 2.5rem;
    margin-top: 5rem;
  }

  main .skills p{
    font-size: 1.5rem;
  }

 footer p{
  margin-top: 8rem;
  font-size: 2.5rem;
 }
 
 footer img{
  width: 9rem;
  height: 9rem;
 }

}
/* ───────────────────────────────────────── */
/* DESKTOP (ADAPTIVE)                        */
/* ───────────────────────────────────────── */
@media (min-width: 1200px){

header img{
  width:12rem;
  height: 12rem;
}

header nav ul{
  gap: 5rem;
}

 header nav ul li a{
  font-size: 2rem;
 }


 main h2{
  margin: 5rem 0rem;
  font-size: 2.8rem;
 }

 main section .presentacion h1{
  font-size: 2.8rem;
 }

 main section .presentacion img{
  width: 22rem;
  height: 28rem;
 }
 main section .descripcion p{
    font-size: 1.5rem;
    text-align: justify;
    max-width: 1000px;
  }

 footer p{
  margin-top: 12rem;
  font-size: 2.8rem;
 }
 
 footer img{
  width: 12rem;
  height: 12rem;
 }
}

/*------------------*/
/* mis proyectos.   */
/*------------------*/

h1{
   font-size: 2rem;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h5{
  font-size: 1.4rem;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
 font-size: 0.8rem;
 font-family: "Changa One", sans-serif;
 font-weight: 400;
 font-style: normal;
}

@media (min-width: 768px){
h1{
  font-size: 5rem;
}
p{
  font-size: 1.5rem;
}



}

/*------------------*/
/* mis estudios.    */
/*------------------*/
